/* Variables */
:root {
  --main-900: #16093f;
  --main-800: #190a47;
  --main-700: #120733;
  --main-100: #8f83b4;
  --yellow-900: #f2e74a;
  --yellow-800: #dbd244;
  --yellow-700: #ccc43f;
  --yellow-600: #827d28;
  --yellow-200: rgba(242, 231, 74, 0.36);
}

/* Global */

html,
* {
  box-sizing: border-box;
}

body {
  background: var(--main-900);
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

/* Typography */
h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 44px;
}

/* Layout */
nav {
  font-size: 14px;
  padding: 16px 0;
}

nav .logo {
  margin-bottom: 0;
}

nav .logo i {
  margin-right: 6px;
  color: var(--yellow-900);
}

main {
  padding: 60px 0;
}

@media (min-width: 1000px) {
  main > .container {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr 1fr;
  }
}

/* Framework */
.clear-fix {
  clear: both;
}
.container {
  padding: 0 20px;
  margin: auto;
}

@media (min-width: 767px) {
  .container {
    padding: 0 60px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

/* Components */
.secondary-btn {
  display: block;
  border: 1px solid var(--yellow-900);
  color: var(--yellow-900);
  padding: 12px;
  width: 180px;
  float: right;
  height: 48px;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
  /* margin: auto; */
}

.secondary-btn:hover {
  background-color: var(--yellow-900);
  color: black;
}

.secondary-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Errors */
.error-message {
  position: fixed;
  top: 16px;
  min-height: 60px;
  min-width: 300px;
  right: 0;
  background-color: #f24f4a;
  color: white;
  padding: 16px 32px;
  border-radius: 16px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  opacity: 0.1;
  transform: translateX(100%);
}

.error-message i {
  background-color: white;
  display: inline-block;
  padding: 6px;
  font-size: 12px;
  border-radius: 50%;
  color: #f24f4a;
}

.error-message p,
h4 {
  display: inline-block;
}

.error-message h4 {
  margin: 8px 8px 0 12px;
}

.error-message.visible {
  right: 50%;
  transform: translateX(50%);
  opacity: 1;
}

/* Modules */

/* Start Weather Form */
.weather-form {
  max-width: 500px;
}

.weather-form h1 {
  margin: 0 0 16px;
}

.weather-form h1 + p {
  margin-bottom: 60px;
  color: var(--main-100);
}

.weather-form .input-group {
  margin-bottom: 32px;
}

.weather-form label {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
}

.weather-form .input {
  background-color: var(--main-800);
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  box-shadow: 0 3px 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  color: wheat;
}

.weather-form textarea.input {
  min-height: 150px;
  resize: vertical;
}

.weather-form .input:focus {
  outline: none;
  border-color: var(--yellow-200);
  box-shadow: 0 0 0.5rem var(--yellow-200);
}
/* End Weather Form */

/* Start Weather History */
.empty-history {
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
}

.empty-history p {
  color: rgba(255, 255, 255, 0.4);
  margin: 24px 0;
}

.weather-history {
  background: radial-gradient(hsl(226 74% 6% / 1), transparent);
  padding: 48px 32px;
}

.weather-history h2 {
  text-align: center;
  margin-bottom: 44px;
}

.weather-history ul {
  list-style: none;
  padding: 0;
}
.weather-history li {
  position: relative;
  border-radius: 16px;
  padding: 16px 24px;
  font-size: 14px;
  min-height: 100px;
  max-width: 500px;
  border: 1px solid var(--yellow-900);
  margin-bottom: 32px;
  transition: all 0.3s ease-in-out;
}

.weather-history li.new {
  background-color: var(--yellow-900);
}

.weather-history .info-wrapper {
  display: flex;
  align-items: center;
}

.weather-history .main-info {
  width: calc(50% + 16px);
  padding-right: 16px;
  display: flex;
  align-items: center;
}

.weather-history .main-info .temp {
  font-size: 30px;
  color: white;
}

.weather-history li.new .main-info .temp {
  color: var(--main-900);
}

.weather-history .main-info i {
  color: var(--yellow-700);
  font-size: 32px;
  margin-right: 12px;
}

.weather-history .main-info .description,
.weather-history .extra-info .min-max,
.weather-history .extra-info h3 {
  color: var(--yellow-600);
}

.weather-history .extra-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* Card height - padding */
  height: calc(100px - 32px);
}

.weather-history .extra-info::after {
  content: "";
  position: absolute;
  left: -16px;
  top: 0;
  bottom: 0;
  background-color: var(--yellow-700);
  width: 1px;
}

.weather-history .extra-info h3 {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  margin: 0 0 4px;
}

.weather-history .extra-info time {
  color: var(--yellow-200);
  font-size: 12px;
}

.weather-history li.new .extra-info time {
  color: var(--yellow-700);
}

.weather-history .extra-info .min-max {
  margin-top: auto;
}

.weather-history .feelings-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  border: none;
  transition: opacity 0.25s ease-in-out;
}

.weather-history .feelings-btn:hover {
  opacity: 0.8;
}

.feelings {
  padding: 12px 0 0;
  margin-top: 16px;
  border-top: 1px solid var(--yellow-700);
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  word-break: break-word;
}

.feelings.visible {
  display: block;
  opacity: 1;
}

/* End Weather History */
